* {
  /* border: 1px solid pink;*/
   box-sizing: border-box;
   font-family: 'Open Sans';
   margin:0;
   padding:0;
   /* border: 1px solid black; */
 }

 body {
  display: grid;
}

header {
background-color: #1f1f3d;
display: flex;
font-weight: ExtraBold 800;
justify-content: space-between;
height: 60px;
align-items: center;
color: white;
}

.head-right {
align-items: right;  
display: inline-block;
margin: 5px 20px;
}

.title-yellow-text {
  color: #FFC303;
}
.search-form {
  height: 35px;
  width: 210px;
  display: flex;
}
#search-input{
    height: 35px;
    width: 165px;
    border: 1px solid white;
}
.search-container {
  background-color: lightgray;
  /* margin-top: 10px; */
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-mag {
  height: 20px;
}

body {
  display: grid;
}

header {
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.section-left-menu {
  background-color: #587a8b;  
  height: 600px;
}

main {
  display: grid;
  grid-template-columns: 30% 65%;
  border: 1px solid black; 
}

h1 {
  color: #FFF;
  font-weight: ExtraBold;
  font-size: 28px;
  margin-left: 10px;
}

.input-labels-content-container {
  width: 100%;
  display: flex;
}
#input-labels-task-title-input {
  height: 40px;
}

#input-item{
  width: 82%;
}
.btn-add-beer {
  height: 40px;
  width: 18%;
  border: 1px solid #1F1F3D;
}